@import "styles/variaveis.scss";

.card {
  width: 100%;
  max-width: 436px;
  cursor: pointer;
  
  img {
    width: 100%;
    border-radius: 15px;
  }

  h2 {
    color: $dark;
  }

  p {
    color: $grey;
  }

}
