@import 'styles/variaveis.scss';

.card {
  width: 100%;
  max-width: 436px;
  cursor: pointer;
  transition: 0.2s ease-in;
  border-radius: 15px;
  padding: .8rem;

 &:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #f2f2f2;
 
 }
  

  img {
    width: 100%;
    border-radius: 15px;
    height: 280px;
    overflow: hidden;
    object-fit: cover;
  }

  h2 {
    color: $dark;
  }

  p {
    color: $grey;
  }
}
