@import 'styles/variaveis.scss';
@import 'styles/breakpoints.scss';

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: $dark;

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  &__copyright {
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    background-color: $dark;
    margin: 0;
    padding: 0.5rem;
    padding-bottom: 2rem;
  }

  &__icon {
    color: #fff;
  }

  &__icon:hover {
    color: $cyan-dark;
    transform: scale(1.2);
    transition: 0.2s;
  }
}
